<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./index.css">
    <title>Expense Table App</title>
</head>

<body>

    <h1>Expense Table App</h1>

    <form id="expenseForm">
        <label for="description">Description:</label><br>
        <input type="text" id="description" required><br>

        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" required><br>

        <label for="date">Date:</label><br>
        <input type="date" id="date" required><br><br>

        <button type="button" onclick="addExpense()">Add Expense</button><br><br><br>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="expenseTableBody">
            <!-- new expenses will be added here whenever i enter new expense -->
        </tbody>
    </table>

    <div id="totalExpense"></div>

    <script src="./index.js">
        
    </script>

</body>

</html>