<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Forget Passwordt</title>
</head>

<body>
    <form id="forgetpassword" onsubmit="forgetPassword(event)">
        <label for="email">Enter Email : </label>
        <input type="email" id="email" name="email">
        <button type="submit">Submit</button>
    </form><br><br>


    <div id="result"></div>
</body>
<script src="./forgetpassword.js">

</script>

</html>