<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Reset Password</title>
</head>

<body>
    <form id="resetpassword" onsubmit="resetpassword(event)">
        <label for="email">Enter you Email</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="password">Enter New Password</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Submit</button>
    </form>
    <div id="result">

    </div>
    <script>
        async function resetpassword(event) {
    event.preventDefault();
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const response = await axios.post('http://localhost:7000/password/resetpassword',{email,password});

    if(response.data.success) {
        document.getElementById('result').innerHTML = 'Your Password Changed Successfully';
    } else {
        document.getElementById('result').innerHTML = 'Something Went Wrong';
    }
}
    </script>
</body>
</html>